#content{
    display : flex;
    justify-content: space-around;
}

.slidecontainer{
    margin-top : 20px;
    margin-bottom : 20px;
    display : flex;
    justify-content: center;
}

.btn-toolbar{
    display : flex;
    justify-content: center;
}

.button_table{
    display : flex;
    justify-content: center;
}

.info {
    position : absolute;
}

textarea {
    resize : none;
    overflow-x : hidden;
    overflow-y : hidden;
}

.dropdown-menu {
    min-width : inherit;
}

.color-canvas {
    cursor : crosshair;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited, .btn-secondary:focus {
    background-color: #393939;
    border-color: #393939;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited, .btn-info:focus {
    background-color: #4E8098;
    border-color: #4E8098;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited, .btn-success:focus {
    background-color: #96ceb4;
    border-color: #96ceb4;
}

.btn-outline-danger, .btn-outline-danger:hover, .btn-outline-danger:active, .btn-outline-danger:visited, .btn-outline-danger:focus {
    color : #d9534f;
    border-color: #d9534f;
}

